@(searchForm: Form[(String)], channelOptions: Seq[(String,String)]) 

@main("Dogstar Relay") {

    @_form(searchForm, channelOptions)
    
    <p>Driving around, hear a song you like, and forget what it was called? Just select
    the Sirius channel and hit search to view that channel's playlist.</p>

    <p>You can also query for data in XML format using the following URLs:</p>
    <ul>
    <li>Channel Listings: <a href="http://dogstarrelay.herokuapp.com/channels.xml">http://dogstarrelay.herokuapp.com/channels.xml</a></li>
    <li>Playlists: <a href="http://dogstarrelay.herokuapp.com/playlist.xml/35">http://dogstarrelay.herokuapp.com/playlist.xml/###</a> (where ### is the channel for which you want playlist data)</li>
    </ul>
}
