@(page:Int, results: Seq[Array[String]], searchForm: Form[(String)], channelOptions: Seq[(String,String)]) 

@link(newPage: Int) = @{ 
    val adjustedNewPage = if (newPage > 0) newPage else 1
    routes.Application.search(searchForm.value.get, adjustedNewPage) 
}

@main("Dogstar Scraper") {

    @_form(searchForm, channelOptions)

    <div class="buttons">
        <a href="@link(page-1)">Prev</a>
        <a href="@link(page+1)">Next</a>
    </div>

    <table>
        <tr class="header">
            <td>Artist</td>
            <td>Song</td>
            <td>Date</td>
            <td>Time</td>
        </tr>
        @results.zipWithIndex.map { case (song, idx) => 
            <tr class="@{if (idx % 2 == 0) { "even" } else {"odd"}}">
             @song.map { col =>
	            <td>@col</td>
	         }
            </tr>
        }
    </table>
    
    <div class="buttons">
        <a href="@link(page-1)">Prev</a>
        <a href="@link(page+1)">Next</a>
    </div>
}
