@(title: String)(content: Html)

<!DOCTYPE html>

<html>
<head>
<title>@title</title>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/chosen.css")">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
<script src="@routes.Assets.at("javascripts/jquery-1.6.4.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/chosen.jquery.min.js")" type="text/javascript"></script>
</head>
<body>
	<div id="header">
		<a class="title" href="/">@title</a>
	</div>
	<div id="content">@content</div>
	<div id="footer">
		This application is Copyright &#169; 2011 by <a href="http://www.lmcalpin.com/">Lawrence McAlpin</a>. It is
		powered by <a href="http://www.playframework.org/">Play! Framework 2.0</a> and <a href="http://typesafe.com/">Scala</a>.
		<br/>
		Playlist data is Copyright &#169; 2007 by <a href="http://www.dogstarradio.com/">DogstarRadio.com</a>.
		<br/>
		Source code is available on <a href="https://github.com/lmcalpin/dogstarrelay">github</a>.
	</div>
</body>
</html>
